.overview-container {
  min-height: 100vh;
}
.overview-overview {
  width: 100%;
  height: 982px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(189, 203, 255, 1);
}
.overview-rectangle1 {
  top: 53px;
  right: 102px;
  width: 386px;
  height: 51px;
  position: absolute;
  border-color: transparent;
  border-radius: 3px;
}
.overview-text {
  top: 43px;
  left: 33px;
  color: rgba(255, 255, 255, 1);
  width: 215px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.overview-text02 {
  top: 67px;
  color: rgba(70, 70, 70, 1);
  right: 115px;
  width: 345px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.overview-text04 {
  top: 104px;
  left: 0px;
  color: rgba(255, 252, 252, 1);
  right: 0px;
  width: 574px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Semi Bold;
  margin-top: auto;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  margin-left: auto;
  font-stretch: normal;
  margin-right: auto;
  margin-bottom: auto;
  text-decoration: none;
}
.overview-rectangle2 {
  top: 53px;
  right: 44px;
  width: 51px;
  height: 51px;
  position: absolute;
  border-color: transparent;
  border-radius: 3px;
}
.overview-text06 {
  top: 66px;
  color: rgba(0, 0, 0, 1);
  right: 56px;
  height: auto;
  margin: 0;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.overview-rectangle4 {
  top: 174px;
  left: 0px;
  right: 0px;
  width: 1215px;
  height: 610px;
  margin: auto;
  position: absolute;
  border-color: transparent;
}
.overview-text08 {
  top: 234px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  width: 1167px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.overview-text09 {
  text-decoration: UNDERLINE;
}
.overview-text13 {
  text-decoration: NONE;
}
.overview-text29 {
  text-decoration: UNDERLINE;
}
.overview-text41 {
  top: 829px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  width: 300px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.overview-text43 {
  top: 102px;
  left: 48px;
  color: rgba(255, 255, 255, 1);
  width: 230px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
